<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="loan">
	<test name="Person">
		<groups>
			<run>
				<include name="title" />
			</run>
		</groups>
		<classes>
			<class name="com.bridgelabz.test.TestNG_basic" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->  